table {
  border: solid 1px #CCC;
  border-radius: 2px;
  cursor: pointer;
}
td {
  border: solid 1px #CCC;
}

th {
  border: solid 1px #EEEEEE;
}

.check {
  background-color: #005fb3;
}

.uncheck {
  background-color: #EFEFEF;
}
