<div>
  Example1
</div>
<div>
  day of week and hour flag
</div>
<table-input [(ngModel)]="timetable"
             [rowLabels]="tableRowLabels"
             [colLabels]="tableColLabels"
             [rows]="7"
             [cols]="24">
</table-input>

params: {{timetable|json}}

<div>
  Example2
</div>
<div>

</div>
<table-input [(ngModel)]="sampleParam"
             [rowLabels]="tableRowLabels2"
             [colLabels]="tableColLabels2"
             [rows]="3"
             [cols]="3">
</table-input>

params: {{sampleParam|json}}

